doctype html 
html
  head
    title=title
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="express-js-app/stylesheets/styles.css")
  body.background
    main
      h1 Read something about this great actors
      ul.index-menu
        li
          a(href="express-js-app/charles") Charles Chaplin
        li
          a(href="express-js-app/marilyn") Marilyn Monroe
        li
          a(href="express-js-app/jean") Jean Simmons
